body{
    font-family:'Courier New', Courier, monospace;
    scroll-behavior: smooth;
    background: black;  
    /*background: -webkit-linear-gradient(to bottom, #9a8478, #1e130c); 
    background: linear-gradient(to bottom, #9a8478, #1e130c); */
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader:before {
    content: '';
    width: 40px;
    height: 40px;
    border: 5px solid #fff;
    border-top: 5px solid #ee0979; /* Customizable color */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navigation{
    background: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 420;
}

.navigation__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navigation__logo{
    background: #ee0979; 
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979); 
    background: linear-gradient(to right, #ff6a00, #ee0979); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navigation__menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.navigation__item{
    height: 80px;
}

.navigation__links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.5s ease;
}

.navigation__links:hover{
    color:rgb(157, 101, 231);
    transition: all 0.5s ease;
}

@media screen and (max-width: 960px){
    .navigation__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navigation__menu{
        background: black;
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navigation__menu.active{
        background: black;
        top: 100%;
        opacity: 1;
        transition: all 0.5 ease;
        z-index: 100;
        height: 60vh;
        font-size: 1.5rem;
    }

    #navigation__logo{
        padding-left: 25px;
    }

    .navigation__toggle .bar{
        width: 25px;
        height: 4px;
        margin: 5px;
        transition: all 0.4s ease-in-out;
        background: white;
    }

    .navigation__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navigation__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-10px) rotate(-45deg);
    }
}

.text{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    max-height: 90%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.heading{
    font-size: 75px;
    margin-bottom: 24px;
    color: white;
}

.text span{
    font-size: 100px;
    background: #5D4157;  
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  
    background: linear-gradient(to right, #A8CABA, #5D4157); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.circle{
    height: 100vh; /* 100 percent of height of screen*/
    width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.circle .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: Run 20s linear infinite;
}

@keyframes Run {
    from{
        transform: perspective(1000px) rotateX(-20deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-20deg) rotateY(360deg);
    }
    
}

.circle .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}

.circle .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.circle .slider .item img:hover {
    transform: scale(1.6); 
    transition: all 0.5s ease;
}

.full-size {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.8);
    cursor: not-allowed;
    animation: growIn 0.5s forwards;
}

@keyframes growIn {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes growOut {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        transform: translate(-50%, -50%) scale(0);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    cursor: pointer;
}

@media screen and (max-width: 720px) { 
    body {
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }

    .circle{
        width: 100vw;
        height: 100vh;
    }
    .circle .slider{
        width: 45vw;
        height: 45vh;
        left: calc(50% - 22.5vw); 
    }

    .circle .slider .item{
        transform: 
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(50vw); 
    }

    .circle .slider .item img{
        width: 70%;
        height: 70%;
    }

    .text{
        width: 90vw;
        padding: 1vw;
        font-size: 40px;
    }

    .text span{
        font-size: 40px;
    }

    .heading{
        font-size: 40px;
    }
}